<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Acerca de
            <ion-badge>Autor</ion-badge>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container fondo">

    <ion-slides [options]="sliderOp">
        <ion-slide class="animate__animated animate__fadeIn">
            <ion-label>
                <ion-badge color="dark">
                    <ion-avatar class="ion-margin-start">
                        <img src="../../assets/nicoarato.png">
                    </ion-avatar>
                </ion-badge>
                <p><strong>Nicolas Arato</strong></p>
                <ion-list-header>
                    <p>
                        <ion-badge color="dark"> Contacto: <strong> nico.arato@gmail.com</strong></ion-badge>
                    </p>
                </ion-list-header>

            </ion-label>

        </ion-slide>

    </ion-slides>


</ion-content>