<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Histórico
            <ion-badge>Proximamente</ion-badge>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">

    <ion-slides [options]="sliderOp">
        <ion-slide>
            <ion-label>

                <ion-avatar class="ion-margin-start">
                    <img src="../../assets/nicoarato.png">
                </ion-avatar>
                <ion-list-header>
                    <strong>@NicoArato</strong>
                </ion-list-header>

            </ion-label>
        </ion-slide>
    </ion-slides>


</ion-content>